@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:ital,wght@0,400;0,500;0,900;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lightdark: #3c3a39;
  --white: #fff;
  --deepDark: #1c1a19;
  --blue-like: #091e42;
  --orange: #ff6b00;
}

