.hamburger-btn {
  background: none;
  outline: none;
  border: none;
}

.hamburger-btn:hover {
  cursor: pointer;
}

#nav-bar {
  background: var(--lightdark);
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

#nav-bar a {
  text-decoration: none;
}

