

#header {
  background: var(--lightdark);
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px 12px 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

#header a {
  text-decoration: none;
}

#logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.header-btn {
  background: none;
  outline: none;
  border: none;
}

.header-btn:hover {
  cursor: pointer;
}